<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!--- Run gmapping -->
  <include file="$(find jackal_navigation)/launch/include/gmapping.launch">
    <arg name="scan_topic" default="/scan"/>
  </include>

  <!--- Run Move Base -->
  <include file="$(find jackal_navigation)/launch/include/move_base.launch"/>
  
  <!--rviz display-->
  <arg name="viz" default="false"/>
  <group if="$(arg viz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find iqr_4s_navigation)/rviz/gmapping.rviz"/>
  </group>
  
</launch>