<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iqr_4b_robot">

  <xacro:property name="package_name" value="iqr_4s_description"/>

  <!-- Include Jackal -->
  <include filename="$(find jackal_description)/urdf/jackal.urdf.xacro"/>

  <!-- Include accessories -->
  <xacro:include filename="$(find ${package_name})/urdf/vlp16.xacro"/>
  <xacro:include filename="$(find ${package_name})/urdf/sensor_support.xacro"/>
  <xacro:include filename="$(find ${package_name})/urdf/realsense_d435.xacro"/>

  <!-- IQR jackal support -->
  <xacro:sensor_support package="${package_name}" parent="mid_mount">
    <origin xyz="0.120 0 0" rpy="0 0 0"/>
  </xacro:sensor_support>

  <!-- VLP-16 lidar -->
  <xacro:vlp16 package="${package_name}" parent="vlp16_mount_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:vlp16>

  <!-- intel realsnse D435i -->
  <xacro:sensor_d435 prefix="camera" parent="camera_mount_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d435>

</robot>